.item__shadow {
  box-shadow: 0px 5px 8px -4px rgba(0, 0, 0, 0.28);
  transition: all 0.5s;
}
.item__shadow:hover {
  box-shadow: 0px 5px 8px -0px rgba(0, 0, 0, 0.23);
}

.truncate {
  white-space: normal;
}

.slick-next:before,
.slick-prev:before {
  content: '';
}
.slick-next,
.slick-prev {
  box-shadow: rgb(0, 0, 0, 0.23) 0px 2px 3px 0px;
  transition: all 0.5s;
  z-index: 30;
}
.slick-next:hover,
.slick-prev:hover {
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
}

